@tailwind base;
@tailwind components;
@tailwind utilities;


/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,700&family=Raleway:ital,wght@0,400;0,500;1,400&display=swap');

/* Global styles */
h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: "Montserrat", sans-serif;

}

p,
a,
button {
    font-family: "Raleway", sans-serif;

}

p {
    line-height: 1.7rem;
}

.clearfix:after {}

html,
body {
    overflow-x: hidden !important
}

/* first gradient #aa076b → #61045f */

/* 
#348f50
→ 
#56b4d3 */

/* page banner header */
.page_banner {
    position: relative;
}

.bg_overlay {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 300px;
}

.banner_wrapper {
    min-height: 300px;
}

/* responsive design */
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;

    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;

    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        padding-left: 25px;
        text-align: left;

    }

    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}